.content {
  position: absolute;
  left: 5%;
  bottom: 20%;

  .header {
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;

    .header-head {
      display: block;
      font-size: 8.5rem;
      font-family: "Hobo Std";
    }
    .header-foot {
      font-size: 7rem;
      font-family: "Hobo Std";
    }
  }
  .rounded {
    border-radius: 40px !important;
  }
}
