.content {
  position: absolute;
  left: 5%;
  bottom: 20%;

  .header {
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;

    .header-head {
      display: block;
      font-size: 8.5rem;
      font-family: "Fredoka One", cursive;
    }
    .header-foot {
      font-size: 8rem;
      font-family: "Fredoka One", cursive;
    }
  }
  .rounded {
    border-radius: 40px !important;
  }
}

.home_contet {
  .header {
    color: black;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;

    .header-head {
      display: block;
      font-size: 5.5rem;
      font-family: "Fredoka One", cursive;
    }
    .header-foot {
      font-size: 5rem;
      font-family: "Fredoka One", cursive;
    }
  }
  .rounded {
    border-radius: 40px !important;
  }
  .mt-mob {
  }
}
.align-desk {
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 600px) {
  .home_contet {
    .header {
      .header-head {
        font-size: 3rem;
      }
      .header-foot {
        font-size: 2.5rem;
      }
    }
  }
  .mt-mob {
    margin-top: 30rem !important;
  }
  .align-desk {
    align-items: baseline;
    margin-top: 7rem;
  }
}
.fredoka {
  font-family: "Fredoka One", cursive;
}
@media screen and (max-width: 600px) {
  .content {
    .header {
      .header-head {
        font-size: 4rem;
      }
      .header-foot {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .fs-md-4 {
    font-size: 0.8rem !important;
  }
  .button-icon {
    height: 30px !important;
    width: 30px;
    object-fit: cover;
  }
}
.home_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .home_page_filter {
    -webkit-backdrop-filter: blur(0.7em);
    backdrop-filter: blur(0.7em);
    background-color: #00000038;
    height: 100%;
  }
}

.button-icon {
  height: 50px;
  object-fit: cover;
  float: left;
}
