.nav-bar {
  .nav-parent {
    position: relative;
  }
  background-color: rgba(0, 0, 0, 0.773);
  .animation {
    position: absolute;
    height: 100%;
    top: 0;
    background-color: #e94b3cff;

    z-index: 0;
    border-radius: 8px;
    transition: all 0.5s ease 0s;
  }
  .nav-collapse {
    position: relative;

    &:nth-child(1) {
      width: 120px;
    }

    &:nth-child(2) {
      width: 120px;
    }
    &:nth-child(3) {
      width: 120px;
    }

    .start-home,
    &:nth-child(1):hover ~ .animation {
      width: 120px;
      left: 0;
    }

    .start-home,
    &:nth-child(2):hover ~ .animation {
      width: 120px;
      left: 120px;
    }
    .start-home,
    &:nth-child(3):hover ~ .animation {
      width: 120px;
      left: 240px;
    }
  }
  .navbar_item {
    color: white;
    text-decoration: none;
    font-size: 1.05rem;
    text-transform: uppercase;
    line-height: 40px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    width: 100px;
    font-weight: 100;
    &::before {
      content: "";
      position: absolute;
      height: 100px;
      width: 100px;
      color: red;
      display: block;
    }
  }

  .navbrand-img {
    height: 40px !important;
  }
  .selected {
    color: #e94b3cff;
    font-size: 1.5rem;
    transition: all 0.2s ease 0s;
    font-weight: 600;
    &:hover {
      color: white;
      font-weight: 100;
      font-size: 1.05rem;
    }
  }
}

.mobile-navbar {
  background-color: rgba(0, 0, 0, 0.986) !important;
  .nav-collapse {
    a {
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      color: white;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
}
